[2021-02-16 16:07] scottaohara commented on #261
takeaway on discussing this today: yes, we need to open up the allowed roles on svg elements, and I see no reason why `role=tree` would not be one of them.

I personally wonder if things like `role=textbox` and `role=searchbox` on the `<svg>` itself are necessary allowances...  noting that any roles are presently allowed on child elements of the `<svg>` so any possible need for those roles would b

[2021-02-16 17:17] scottaohara commented on #221
that'd be nice.  not sure if it'd be actually practical.  but, worth discussing and collecting information.

[2021-02-16 17:56] scottaohara commented on #258
@JAWS-test that's not exactly correct.  Yes, you can use `role=presentation` to force a table to not to be exposed as a table.  but you could also do `<table role=article>` to expose the table as an article, and by suppressing the table semantics, all child elements lose their table semantics, similarly to if using `role=presentation` on the wrapping element.  At least this behavior can be reprodu

[2021-02-18 17:23] scottaohara commented on #186
this issue will be partially resolved when #262 is merged.  an example what to do instead (e.g., an `<a>` w/out `href` used with `aria-disabled=true`) would need to be made to close this issue.

[2021-02-18 17:24] #218 closed, assigned to nobody

[2021-02-18 17:25] #215 closed, assigned to nobody

[2021-02-18 21:28] mitchellevan commented on #249
@scottaohara, you wrote:

It's not clear to me either. (Might this be a question for @stevefaulkner?)

You're right that I _intended_ this "naive proposal" as a straw man:

However, now I'm not so sure it's actually a straw man.

To the extent this is the rationale for drawing the line, then we end up with a surprising set of choices... (1) We could deprecate all landmark roles except for `role=se

[2021-02-18 22:34] scottaohara commented on #157
closing this as it will be taken care of in the short term with #200, ant it'll be some time till 1.3 is released.

[2021-02-18 22:34] #157 closed, assigned to nobody

[2021-02-18 22:41] scottaohara commented on #216
closing this as was duplicated by #255 and actual discussion has occurred there.

[2021-02-18 22:41] #216 closed, assigned to nobody

[2021-02-19 17:14] #158 closed, assigned to nobody

[2021-02-19 17:14] #261 closed, assigned to nobody

[2021-02-20 16:08] scottaohara commented on #207
edit to the above suggestion:

[2021-02-20 16:30] scottaohara commented on #5
This seems resolved as part of the commit: https://github.com/w3c/html-aria/commit/1058ce83857d9195522f24e6a1123e1cb65e82c4

[2021-02-20 20:18] scottaohara opened #266 "Update HTML element table into four columns"
After merging in the bigger updates of #265, #262 and #263, I want to create a fourth column in the element table to split apart the allowed roles for an element and the allowed attributes.

The third column would define the the ARIA roles which MAY be used.

The fourth column would define the aria-* attribute  allowances AND restrictions.

Right now it's awkward that the 3rd column is titled "ARI

[2021-02-23 12:53] patrickhlauke opened #268 "Update all tables to have a `<th>` in each row"
split off from https://github.com/w3c/html-aria/pull/262#issuecomment-783801241 so we don't forget

[2021-02-24 16:55] patrickhlauke commented on #268
just let me know when i could/should go for this

[2021-02-24 19:58] #122 closed, assigned to nobody

[2021-02-24 20:09] scottaohara commented on #268
have at it @patrickhlauke

[2021-02-24 20:16] scottaohara commented on #225
closed by #262

[2021-02-24 20:16] #225 closed, assigned to nobody

[2021-02-24 20:16] scottaohara commented on #241
closed by #262

[2021-02-24 20:16] #241 closed, assigned to nobody

[2021-02-24 20:29] scottaohara commented on #199
a section should be added to the specification to note that aria roles and attributes that have been deprecated should receive warnings in conformance checkers.

edit:
specifically deprecated features that have clear replacements need to be called out as author errors.  deprecated features that presently have no suitable alternative, or require a long tail legacy support should receive warnings an

[2021-02-26 23:31] #268 closed, assigned to nobody

[2021-02-28 15:45] mtrootyy opened #270 "clarifitations to hidden/aria-hidden"
The following sentence should be added to the 3rd column of the row of "Any element with a hidden attribute".

[2021-02-28 16:10] scottaohara commented on #270
That's debatable as that is actually a use case which would make aria-hidden=false useful.

leaving this open but marking it as a question for future consideration / discussion with the aria wg

[2021-03-01 16:06] LJWatson opened #271 "References to "web developer""
The references to "web developers" throughout seems to exclude DPub content authors, though the spec includes the DPub ARIA roles.

[2021-03-01 16:11] LJWatson opened #272 "Remove reference to public-html@w3.org"
It should be public-webapps@w3.org, and the subscribe and archives links updated accordingly.

[2021-03-01 17:47] LJWatson opened #273 "Wide review tracker"
It's been more than two years since we last went out for wide review (#79), meaning we need to do so again before requesting transition to CR.

Requests sent out today:

* [APA WG](https://lists.w3.org/Archives/Public/public-apa/2021Mar/0001.html)
* [ARIA WG](https://lists.w3.org/Archives/Public/public-aria/2021Mar/0000.html)
* W3C/i18n-request#150
* [Privacy](https://lists.w3.org/Archives/Public/

[2021-03-05 04:18] scottaohara commented on #271
Yes.  seems to me this should just be changed to "authors"

[2021-03-05 08:48] LJWatson commented on #271
That is the usual W3C parlance, yes.

[2021-03-05 10:39] stevefaulkner commented on #271
This term was used deliberately as I know of no one that would consider themselves as "authors" except people who write books. Can i suggest we drop "web" and just use "developers"?

[2021-03-05 15:56] bert-github opened #274 "Editorial: duplicate word ‘which’"
In [section 2, ‘Document conformance requirements for use of ARIA attributes in HTML’](https://w3c.github.io/html-aria/#docconformance), this sentence has one ‘which’ too many:

[2021-03-06 00:31] #274 closed, assigned to nobody

[2021-03-06 23:23] #75 closed, assigned to nobody

[2021-03-07 15:30] scottaohara commented on #271
@LJWatson, @stevefaulkner I have removed instances of "web developer" and replaced with "developer" in [this commit](https://github.com/w3c/html-aria/commit/975bcd25714455a104d6e4e04e54fb8c00615d0f).

The spec now uses both the terms "developer" and "author".  we can either leave this as is, or we can change them all to one or the other.

[2021-03-07 18:41] scottaohara opened #277 "add list attribute to attributes table"
rules [relating to `input` with `list` attribute and `aria-haspopup`](https://w3c.github.io/html-aria/#el-input-text-list) should be added to the attributes table.

[2021-03-07 23:49] #163 closed, assigned to stevefaulkner

[2021-03-08 01:39] marcoscaceres opened #279 "Why include DPub Roles?"
I'm a bit confused as to why the DPub Roles appear in this document? Their appearance in this document seem to duplicate what's already in the DPub Roles spec? Generally, we only want "one source of truth", so I'd suggest removing the DPub Roles unless there is some good reasons for having them in this document (e.g., this document makes the DPub Roles redundant).

[2021-03-08 01:40] marcoscaceres commented on #279
Alternatively, this document should state why the DPub Roles are here in this document instead of referencing the other spec. If there is no good *technical* reason, then please remove them.

[2021-03-08 04:36] marcoscaceres opened #280 "Why MUST use lowercase ASCII letters for roles?"
The spec says:

That seems counter to the use of tokenized attribute values elsewhere in HTML, no? Why not just shift that burden to browsers to canonicalize the tokens to lower case before passing them to the AT?

[2021-03-08 05:00] marcoscaceres opened #281 "confusing conformance"
The spec says:

The "document conformance requirements" are ambiguous. At least, I can't figure them out. I was expecting:

"A document MUST/SHOULD/MAY" in the spec, but no such conformance class appears in the document.

If we want "conformance checkers" to be a class of software that can claim conformance to this specifications, then there should be clear "Conformance checkers MUST/SHOULD/MAY...

[2021-03-08 05:04] marcoscaceres opened #282 "Developers or authors"
There is a lot of "Developers MUST" and "Authors MUST"... might be good to stick to one (Developers?).

[2021-03-08 05:05] marcoscaceres commented on #280
Also, as an aside, I don't see why this section needs to be called out on its own? It should just be part of the "Developer requirements for use of ARIA in HTML"

[2021-03-08 05:13] marcoscaceres opened #283 "Drop "description" column from ARIA Roles, States and Properties table"
I have significant concerns about this specification redefining the various roles that are already defined in Aria. I'd strongly caution against doing that and strongly encourage you to drop the "Description" column from the "ARIA Roles, States and Properties" table.

The current descriptions are a less-than-ideal analog for what is found in the Aria spec, as they lack the hyperlinks to the descri

[2021-03-08 05:54] marcoscaceres opened #284 "Links to "Any element where the * attribute is allowed""
The spec has, for example, "Any element where the max attribute is allowed". However, the "max" attribute is defined differently for different elements. The spec should really link to each attribute as appropriate.

The same applies for the rest of the attributes.

[2021-03-08 07:04] marcoscaceres commented on #271
Developers is more "in vogue"... and thus, I'd urge us to follow Madonna.

[2021-03-08 07:04] marcoscaceres commented on #282
Duplicate of https://github.com/w3c/html-aria/issues/271

[2021-03-08 07:04] #282 closed, assigned to nobody

[2021-03-08 07:37] stevefaulkner commented on #279
@marcoscaceres The dpub people asked us to include which dpub- roles can be used on which html elements same as we do for ARIA roles. We don't define the roles, only what roles can be used with a particular element.

[2021-03-08 07:45] marcoscaceres commented on #279
Ah, got it. Thanks @stevefaulkner.

[2021-03-08 07:45] #279 closed, assigned to nobody

[2021-03-08 08:07] #283 closed, assigned to nobody

[2021-03-08 08:10] stevefaulkner commented on #280
agree, but will keep this requirement in place until this is implemented.

[2021-03-08 08:23] marcoscaceres commented on #280
It's already implemented, no? Chrome, for instance:

<img width="458" alt="Screen Shot 2021-03-08 at 7 24 00 pm" src="https://user-images.githubusercontent.com/870154/110294339-d767cb80-8043-11eb-9833-01b17ca82793.png">

[2021-03-08 08:32] marcoscaceres commented on #280
Same in Safari, unless I'm doing something wrong?

![Screen Shot 2021-03-08 at 7 32 36 pm](https://user-images.githubusercontent.com/870154/110295282-0af72580-8045-11eb-8bf2-0485ac8083e3.png)

[2021-03-08 09:11] JAWS-test commented on #280
It should be tested with all relevant browsers and not only Chrome and Safari

[2021-03-08 09:29] stevefaulkner commented on #280
@marcoscaceres case sensitive in Firefox 87.0b2 (64-bit)
test case https://cdpn.io/stevef/debug/WNoawKB

[2021-03-08 13:09] marcoscaceres commented on #280
Agree. I was just trying to see if there was some browser support. Two browsers conforming does make a standard, so can the requirement be dropped?

Understood, but that's then a Firefox bug (given the other browsers do the right thing), right? Something we can bug the gecko folks to fix.

[2021-03-08 13:13] #271 closed, assigned to nobody

[2021-03-08 13:14] #272 closed, assigned to nobody

[2021-03-08 13:39] scottaohara commented on #284
noting updates regarding this were partially worked on in PR #285.  so any further work here should be done in that PR, or be aware of it so as to not make unnecessary conflicts

[2021-03-08 16:53] pkra commented on #280
Steve went back in time to file it: https://bugzilla.mozilla.org/show_bug.cgi?id=1407167

[2021-03-08 17:22] stevefaulkner commented on #280
@pkra thanks for finding that, it was so long ago had forgotten :-)

[2021-03-09 05:20] marcoscaceres commented on #280
Lol, yeah. Don't give Firefox a pass here. It's a web compat issue, not a spec issue.

[2021-03-09 13:31] LJWatson commented on #271
Not everyone considers themselves a developer either.

The term "author" is used throughout W3C specifications as a simple way of referring to someone who authors a document, be it with words or code, so I do not recommend changing it.

[2021-03-09 15:33] myfonj commented on #271
Unsolicited anecdotal evidence from stranger: ["Introduction" chapter of HTML spec](https://html.spec.whatwg.org/multipage/introduction.html) contains 62 occurrences of string `author` (inc. `authoring`), 4 occurrences of string `developer`.  There is even charming phrase _"novice author"_:

I understand that it might feel strange at first to refer to self as "author" while producing or enriching

[2021-03-09 20:14] scottaohara commented on #284
i think some of these definitely make sense to update.  where as some others, like the `hidden` attribute, make no sense to list out every (all) elements.  So I will update the instances here where I agree with you, and it makes sense to list them.  Otherwise, they'll remain "Any element..."

[2021-03-10 02:20] marcoscaceres commented on #284
Agree. But `hidden` is a "global attribute" (I think... need to check), so the spec probably just needs rewording.

In any case, not a big deal. Just want to make sure the terminology aligns with the HTML spec.

[2021-03-10 02:57] scottaohara commented on #284
yes, it is global.

essentially my take on this is if the attribute link does not point to a single source in the HTML spec, then the elements / their references to that attribute can be linked.  e.g., your update to max as it related to meter, input and progress.

where as hidden is global, so linking to every element wouldn't be necessary.  and placeholder is only allowed on inputs / has a singl

[2021-03-10 02:59] marcoscaceres commented on #284
Agree. That wouldn't make any sense.

Agree.

[2021-03-10 03:15] marcoscaceres commented on #139
Looking at the spec, it seems maybe the w3c fixed the table style so closing.

[2021-03-10 03:15] #139 closed, assigned to nobody

[2021-03-10 13:50] bert-github opened #289 "Editorial: misplaced comma in section 4"
In [section 4, ‘Allowed ARIA roles, states and properties’](https://www.w3.org/TR/2021/WD-html-aria-20210301/#allowed-aria-roles-states-and-properties), the first sentence of the second paragraph has two commas, the second of which shouldn't be there:

[2021-03-10 14:24] scottaohara commented on #280
removed the label for 1.0.  per the discussion in the PR, don't want this to merge yet.

[2021-03-10 14:34] #289 closed, assigned to nobody

[2021-03-12 03:05] marcoscaceres commented on #280
Firefox patch sent. Awaiting review.

[2021-03-12 11:46] stes-acc commented on #186
Have you checked possible issues with validators using

`<a role=link aria-disabled=true>`

with respect to role redundancy warnings?

[2021-03-12 14:02] scottaohara commented on #186
`<a>` without `href` allows for any role.  `<a>` without `href` is not supposed to be exposed as a `link`, so there's no redundancy here.

[2021-03-13 16:41] #281 closed, assigned to nobody

[2021-03-13 19:39] #284 closed, assigned to nobody

[2021-03-14 16:17] scottaohara opened #293 "Further clarifications needed for images"
revisions to consider after 1.0:
- should image rules be updated to be based on whether the img has an accessible name, rather than if an `alt` is used or not.  valid html dictates that an `alt` is needed, but if an image has `alt=''` and `aria-label=foo`, then the image will be exposed rather than hidden.
- should we not recommend aria-label be used on an image at all?  i don't really understand

[2021-03-14 16:52] sinabahram commented on #293
I think I am a fan of forbidding aria-label, but I would want to make sure aria-labelledby works because there are cases in which organizations most-certainly do wish to visually surface alt text. I have several such projects and am encouraging more, for true inclusion around visual description practices within the cultural sector. Doubling that info in the alt makes for a noisy interface. Yes, ar

[2021-03-14 16:59] scottaohara commented on #293
thank you @sinabahram

[2021-03-14 23:22] scottaohara opened #294 "create informative section for ARIA vs HTML allowances"
further guidance on why ARIA allows for certain attributes to be used with roles, where using those same attributes on the HTML element with the implicit ARIA semantics is not allowed.

[2021-03-15 00:40] marcoscaceres commented on #280
Patch landed and it's shipping in FF Nightly, so now all browser engines behave the same 🎉. @scottaohara, I think that puts this back in scope of 1.0, right?

[2021-03-15 03:22] nschonni commented on #280
I think the browser part addressed, but not the AT and OS API compat https://github.com/w3c/html-aria/pull/287#issuecomment-794992349

[2021-03-15 04:54] marcoscaceres commented on #280
Right, so as Jamie stated:

IIUC, normalizing to lcase at the browser level for computed/derived roles seems best here. However, that's independent of the advice given to developers (which is generally not helpful and doesn't scale).

Having said that, we should also tell the ATs to lcase things, just to make sure we have all bases covered. Do we know folks working on the ATs that we can get in to

[2021-03-15 05:43] JAWS-test commented on #293
But this is already stated in the specification at present:

***

I would not ban things as seeming useless, but only things that can lead to problems with output by AT. I see no problem with aria-label am img.

I also don't see why alt and aria-label causes problems:
* aria-label overrides the alt attribute according to accname.
* This is true for all HTML elements (aria-label overrides HTML labe

[2021-03-15 12:00] scottaohara commented on #293
it is, but it could stand to be clearer since the rules are contingent on the `img` having an `alt`, and not explicitly about whether it has accessible name at all.  so right now conformance checkers would not be incorrect to state that `<img src=... alt="" aria-label=foo role=button>` is an error, because the `alt=""` rule states that there should be no role or `aria-` attributes set.

I didn't s

[2021-03-17 19:09] ShivanKaul opened #295 "Privacy review of ARIA in HTML (15th March 2021)"
I looked at https://www.w3.org/TR/html-aria/. I don't have any specific privacy concerns, but given that the plan for ARIA 1.3 is to [add a privacy considerations section](https://github.com/w3ctag/design-principles/issues/293), should there be a pointer in this doc to that or some mirroring text?

[2021-03-17 19:33] LJWatson commented on #295
Thank you @ShivanKaul  for your review.

add a privacy considerations section, should there be a pointer in this doc to that or some mirroring text?

We're not able to add a normative reference to ARIA 1.3 until it's published, but the [WebApps WG charter](https://www.w3.org/2019/05/webapps-charter.html) says:

must have a section that describes relevant benefits, limitations, and best practice so

[2021-03-18 16:50] ShivanKaul commented on #295
Thanks @LJWatson - agreed. @samuelweiler pointed out that it would be good to also have a separate Security Considerations section, in addition to the Privacy Considerations section, even if it is limited for now (based on https://www.w3.org/TR/security-privacy-questionnaire/#considerations)

[2021-03-18 17:59] samuelweiler commented on #295
The editor's draft of the questionnaire contains the updated guidance: https://w3ctag.github.io/security-questionnaire/#considerations

And, yes, I understand that both sections are likely to say "no issues".

[2021-03-21 14:54] scottaohara opened #296 "report todos"
Add tests and results for
- [x] img alt=sometext
- [x] img alt=""
- [x] img w/out alt
- [x] td within table / treegrid / grid (tests need publishing)
- [x] td within table[role=presentation]
- [x] tr within table / treegrid / grid (tests need publishing)
- [x] tr within table[role=presentation]
- [x] th within table / treegrid / grid (tests need publishing)
- [x] th within table[role=presentation]

[2021-03-21 15:28] scottaohara opened #297 "Editorial updates for 1.0"
- [x] add commits/substantial commits since last wide review section.
- [x] Remove instances of referring to this as a draft document.
- [x] question: add a note about dpub roles being conforming, but that they will likely not be understood in _web pages_ by browsers or AT.
- [x] any additional editorial clarifications that can be made which have not already been brought up in other issues.

[2021-03-21 15:29] scottaohara commented on #297
i will handle the commits/substantial commits section

[2021-03-22 00:02] scottaohara commented on #77
To handle things like this, prohibited use of `aria-label`/`labelledby` on necessary elements, and that some of the remaining global `aria-*` attributes still make no sense on some HTML elements - e.g., `<p aria-controls=foo>` (what is a paragraph controlling?) - I want to address these with #266

[2021-03-22 19:10] smhigley opened #298 "Allow gridcell and treeitem roles on button elements"
In the [Rules of ARIA attribute usage by HTML element ](https://w3c.github.io/html-aria/#docconformance), `<button>` already allows every child role of [composite widgets that manage focus](https://w3c.github.io/aria/#managingfocus_authors) except for tree and grid.

There are benefits in using `<button>` as a base of interaction in these widgets, such as:
- Enter/space triggers the click event
-

[2021-03-25 03:38] scottaohara commented on #296
- [x] file issue with html validator for image results
- [x] file issue with html validator for tr, td, th (after tests published)
- [x] file issue with ibm for image results
- [x] file issue with ibm for tr, td, th (after tests published)

[2021-03-27 10:47] stevefaulkner commented on #297
hid draft notice https://github.com/w3c/html-aria/commit/043b124baefe0e1086347bdff62be05ae30b6382

[2021-03-28 11:54] stevefaulkner commented on #296
@scottaohara [img with some text does](https://w3c.github.io/html-aria/#el-img) not allow `role=radio`, deliberate omission? If not will add and reup test

[2021-03-28 13:08] scottaohara commented on #296
Probably an oversight when we looked at tightening them up. Don’t think it makes much sense in practice but since we allow other similar roles, yeh. Add it @stevefaulkner

[2021-04-08 15:28] #295 closed, assigned to nobody

[2021-04-15 18:04] scottaohara commented on #221
@alia11y here is the related issue i created for ARIA's issue 1254

to express concerns expressed on the ARIA WG call today – we would want to make sure to specify this in a way where it is now allowed on the root document (body/html element - noting again that `html` already disallows this attribute), but we *do* want to make sure this could be used for nested documents which do need to be set to

[2021-04-19 11:33] LJWatson commented on #273
Reminders have been sent to:

* [APA WG](https://lists.w3.org/Archives/Public/public-apa/2021Apr/0020.html)
* [ARIA WG](https://lists.w3.org/Archives/Public/public-aria/2021Apr/0013.html)
* [PING](https://lists.w3.org/Archives/Public/public-privacy/2021AprJun/0002.html)
* [Web Security](https://lists.w3.org/Archives/Public/public-web-security/2021Apr/0002.html)

According to w3ctag/design-reviews#

[2021-04-19 11:42] LJWatson commented on #296
I'm chasing outstanding reviews in #273. If we have not heard from the relevant groups by the start of next week, I'll go ahead an open a CFC with WebApps to transition this to CR.

We typically allow one week for WG CFC, which will put us safely on the other side of the AC meeting publishing moratorium (23 to 29 April).

At that point we'll officially request transition, so the report should have

[2021-04-19 12:25] #207 closed, assigned to patrickhlauke, scottaohara

[2021-04-19 21:35] patrickhlauke commented on #297
proposed a few changes/tweaks https://github.com/w3c/html-aria/pull/306

[2021-04-20 15:37] scottaohara commented on #220
Upon review, and per [other comments made about adding such a section](https://github.com/w3c/IntersectionObserver/issues/415#issuecomment-698363306), we are going to close this issue. As with the [privacy & security section](https://w3c.github.io/html-aria/#priv-sec), this spec does not define the features of ARIA or HTML so there would be no concerns to call out here that wouldn't be more approp

[2021-04-20 15:37] #220 closed, assigned to nobody

[2021-04-27 14:46] carmacleod opened #308 "Potential for confusion in h1 to h6 implied mapping wording"
The Implicit ARIA semantics column for [h1 to h6](https://w3c.github.io/html-aria/#el-h1-h6) currently reads:

I have seen this misinterpreted as "role=heading, _if_ the aria-level = positive integer."

I think the following is less ambiguous (delete "with the"):

If we use some of the words from HTML-AAM, the following may be even clearer?

I'll provide a PR with the 2nd wording, but I'm happy to

[2021-04-28 07:31] #308 closed, assigned to carmacleod

[2021-04-29 20:30] carmacleod opened #311 "Editorial changes to tr, th, td for consistency with other roles"
Given the "slightly softer" stance around unnecessary explicit roles in https://github.com/w3c/html-aria/issues/236, the entries for `tr`, `th`, and `td` look a bit strange now, because they say:

when they could more simply say "Any role".

As far as I can see, these are the only roles that explicitly say that you're not allowed to use an explicit role. :)

Also, there's a bit of inconsistency in

[2021-04-30 15:58] carmacleod commented on #311
Closing - see explanation in PR.

[2021-04-30 15:58] #311 closed, assigned to carmacleod

[2021-05-01 17:40] carmacleod opened #314 "Clarify allowed roles for checkbox input with aria-pressed"
The [allowed roles for checkbox input](https://w3c.github.io/html-aria/#el-input-checkbox) say:

It's a little unclear whether `<input type="checkbox" aria-pressed="true" ... >`
can _only_ have `role="button"`,
or if it could have any of `role=button`, `menuitemcheckbox`, `option` or `switch`.

Turns out only `button` role would be allowed on a checkbox input with aria-pressed.

Hopefully, the fol

[2021-05-01 18:22] #314 closed, assigned to carmacleod

[2021-05-08 02:50] cyns opened #317 "<area> with no href should allow roles"
`<a>` with no `href` takes any role, but `<area>` with no `href` takes no roles. These are similar and seem like they should be consistent. `<area role=button>` seems like it would be useful, as would checkbox and other widget roles.

[2021-05-08 02:56] cyns opened #318 "Should <iframe> support role=dialog?"
<iframe>s and dialogs have a lot in common, and it seems like it would be useful to change the role of an <iframe> to dialog or alertdialog in some situations. Can this be supported? Is not supporting it due to implementation limitations or intentional design?

[2021-05-08 02:59] cyns opened #319 "Should <img> support role=figure?"
The definition of figure is one or more images, but images can be quite complex internally. One use case would be SVG images with sub-parts and text inside. Figure is a kind of image.

[2021-05-08 12:48] LJWatson commented on #273
Review status as of now:
* APA: No response
* ARIA WG raised #317, #318, and #319
* I18n had no issues, recorded in w3c/i18n-request#150
* PING raised #295 (resolved)
* TAG have not been able to provide feedback, noted in w3ctag/design-reviews#614
* Web Security were [not able to review](https://lists.w3.org/Archives/Public/public-web-security/2021Apr/0003.html)

@scottaohara  @stevefaulkner  and

[2021-05-08 20:53] scottaohara commented on #317
I think it makes sense to adjust this, as Cynthia suggests / as we talked about in the ARIA WG meeting this past Thursday.  Being that `<area>` is specifically meant to be a child of a `<map>` I do not think it makes sense to allow _any_ role, as `<a>` without `href` does.  But checkboxes, radios, buttons... yeh, things like that could very well work.

We can get this updated for the next version

[2021-05-09 14:39] stevefaulkner commented on #317
At the time I think that it was decided to not allow stuff on `<area>` because it does not have a visible UI by default, you  need to add `shape` and `coords` attributes to it then associate it with an `<img>`
We already provide a million ways for devs to shoot themselves and users in the foot, why provide another ;-)

[2021-05-09 14:42] stevefaulkner commented on #318
I am not opposed to this, at the time it was decided it was based on the the flaky way `iframe` was exposed in the acc tree across browsers. If it is shown that `role=dialog` is interoperably supported in a practical way then OK.

[2021-05-09 14:49] stevefaulkner commented on #319
Hi @cyns welcome back!

this is not correct, the [definition of `figure` in ARIA](https://www.w3.org/TR/wai-aria-1.2/#figure) is:

[in HTML](https://html.spec.whatwg.org/multipage/grouping-content.html#the-figure-element)

[2021-05-09 21:10] scottaohara commented on #319
I spent some time kicking this idea around and the [results were not particularly good](https://scottaohara.github.io/testing/figure/img-figure.html).

tldr; aside for a few instances, placing a `role=figure` on an `<img>` caused the image to become completely hidden from screen readers.

Regarding the complex SVG scenario, even if `role=figure` on an image had better support, this wouldn't be a v

[2021-05-09 21:10] #319 closed, assigned to nobody

[2021-05-11 09:40] joanmarie opened #320 "Is body's implicit role really document?"
Take a look at the opening report of https://github.com/w3c/html-aam/issues/330.

But this spec states that `body` has an implicit role of `document`. That does seem right....

[2021-05-13 22:07] scottaohara commented on #318
Closing this issue to piggy back off from an existing issue about adjusting `iframe`'s allowed roles.

This will be tested / considered for the next version of the spec.

[2021-05-13 22:07] #318 closed, assigned to nobody

[2021-05-13 22:12] scottaohara commented on #297
closing as any additional editorial updates beyond what already have PRs should be small / can wait till the next release.

[2021-05-13 22:12] #297 closed, assigned to patrickhlauke

[2021-05-15 14:59] scottaohara commented on #296
with PR #322, the todos are now complete

[2021-05-15 14:59] #296 closed, assigned to nobody

[2021-05-15 15:09] scottaohara commented on #320
while we do not have a clear path forward on what body should map to in html aam, I think we can at least close this issue by swapping the html and body's implicit mapping cells.  So i'm going to do that so at least this can be closed and be as 'accurate' as it can be while html aam gets sorted.  then, when/if body's mapping changes there, I can get that updated here as well

[2021-05-15 15:18] #320 closed, assigned to nobody

[2021-05-15 16:27] #54 closed, assigned to nobody

[2021-05-16 16:33] scottaohara commented on #251
this section of the table has been removed, so this issue is no longer relevant.

[2021-05-16 16:33] #251 closed, assigned to nobody

[2021-05-16 16:34] scottaohara commented on #192
this part of the table has been removed, so this issue is no longer relevant.

[2021-05-16 16:34] #192 closed, assigned to nobody

[2021-05-29 14:50] scottaohara opened #325 "Consider allowing roles on <area> with no href attribute"
Creating this issue to replace #317, as there is no need to resolve that issue for 1.0 specification, but we should consider this suggestion going forward.

[2021-05-29 14:53] scottaohara commented on #317
closing this ticket in favor of 325 due to the w3cbot's incessant need to futz with the labels here.

[2021-05-29 14:53] #317 closed, assigned to nobody

[2021-06-17 07:09] LJWatson opened #326 "CFC: transition Aria in HTML to CR"
This is a Call For Consensus (CFC) to transition [ARIA in HTML](https://www.w3.org/TR/html-aria/) to Candidate Recommendation (CR).

The results of the most recent horizontal review were tracked in #273, and there are no outstanding issues.

An [implementation report](https://w3c.github.io/html-aria/results/implementation-results.html) is also available. All but 14 features have at least two imple

[2021-06-17 07:11] LJWatson commented on #326
Ping @scottaohara, @stevefaulkner, @patrickhlauke, and @marcoscaceres.

[2021-06-18 13:16] scottaohara commented on #326
note: additional HTML Validator updates have reduced the at risk features list [by two items](https://github.com/w3c/html-aria/commit/557c90efc8b0e996fc05f68e2e67d2918199f634#diff-ccba1135581d570f1c32c939b9c9fe11b8163456e5acde9f589eb106d3161525)

[2021-06-18 17:40] patrickhlauke opened #328 "Respec errors: references for `audio` and `menu` broken"
This feels like a respec error ... no proper way to reference `audio` nor `menu` seem to be available

https://respec.org/xref/?term=audio&specs=html

https://respec.org/xref/?term=menu&specs=html

https://w3c.github.io/html-aria/

/cc @marcoscaceres

[2021-06-18 17:43] patrickhlauke commented on #328
another change to respec that broke stuff...?

[2021-06-18 19:39] scottaohara commented on #328
for now, i replaced `[^audio^]` and `[^menu^]` with the `<a data-cite="html/...">...</a>` versions to work around these errors / get the links to work again.  realizing that this is not what we actually want to have here, but I also don't want broken references in the spec while we wait for external fixes.

[2021-06-22 00:49] marcoscaceres commented on #328
I spotted those too. Need to check why they went missing from the references database (https://github.com/w3c/webref). Note that ReSpec just links them, so this is not a Respec bug.

[2021-06-22 01:05] marcoscaceres commented on #328
Issue was in HTML spec: https://github.com/whatwg/html/pull/6790

Remember, if something is missing, it's usually at the source.

[2021-06-22 02:08] marcoscaceres commented on #326
Given that now all engines handle case insensitive matching, I'd still like to see issue #280 addressed and #287 merged.

[2021-06-22 11:12] patrickhlauke commented on #328
This makes the publication process quite brittle though (as any commit is not published publicly if it fails respec validation). Any referenced spec messes up, and *you* are prevented from publishing. Can this be changed (so it's still possible for us to publish even though it has a respec error that's not our fault)? Yes, you'd then see the respec error in https://w3c.github.io/html-aria/ ... but

[2021-06-22 13:55] marcoscaceres commented on #328
We are working on that. We want to do a check whereby if you have exported a term, a spec validator will yell at you if you delete it (and let you know which specs are breaking).

That's good tho. It makes the community work together.

It can, but that would be bad form. If someone breaks us, we go and collaborate with them to fix it (like whatwg/html#6790).

It's not a big deal. Love thy neighbor

[2021-06-22 13:57] patrickhlauke commented on #328
The process works fine for other specs (e.g. Pointer Events can be published to github.io even with respec errors). I find it silly to prevent publication of an editor's draft *here* because some other spec messed up.

[2021-06-22 13:59] marcoscaceres commented on #328
It's not published *here*, it's on the Internationally renowned /TR/ space.

[2021-06-22 13:59] marcoscaceres commented on #328
to be clear, when you merge a pull request, it immediately goes on TR.

[2021-06-22 14:00] patrickhlauke commented on #328
nope, if respec fails, it also stops publishing https://w3c.github.io/html-aria/

by all means, stop the copying over to /TR/, but let the github.io one be published

[2021-06-22 14:05] marcoscaceres commented on #328
It's not "failing" tho. The errors are telling you there is something that needs to be fixed.

[2021-06-22 14:11] marcoscaceres commented on #328
I don't know why fixing things is such a bother? Look at whatwg/html#6790 (which literally took 2 minutes to send a fix for). If it wasn't for this error, we wouldn't of discovered the issue in the HTML spec.

That's a net positive for the community as a whole.

Having said that, if you *urgently* need to merge something, you can just use admin right to force a merge:

![Screen Shot 2021-06-23 at

[2021-06-22 14:23] patrickhlauke commented on #328
you can merge it, but it won't be viewable anywhere (not even on github.io) though until other people fix their errors in their spec. can you not see how that's a bit...odd? anyway...

[2021-06-22 14:32] marcoscaceres commented on #328
I don't follow? If you merge, should be there on github.io... you will just get a red squiggle under a thing that didn't link?

It is. If you merge, you merge? Why would it not show up on gh-pages? Are you sure?

[2021-06-22 14:37] marcoscaceres commented on #328
Just to be sure we are talking about the same thing: https//w3c.github.io/html-aria/ is what's on gh-pages. It's just the raw Respec doc (same as you would see locally). So anything you force merge onto that branch will show up there.

[2021-06-22 14:38] patrickhlauke commented on #328
unless it was some weird unrelated timing issue, that's what happened to me the other day ... made this commit to at least fix one of the respec issues we saw, and to change the reference of something else ... https://github.com/w3c/html-aria/commit/a63ca191c61e51970e33ac2d2bb41dc17d2161eb ... but https://w3c.github.io/html-aria/ wasn't updating. it only updated once @scottaohara also temporarily

[2021-06-22 14:40] marcoscaceres commented on #328
Oh, right... yes, it can take around 20 seconds to 1 minute for things to show up on gh-pages after merge. Sometimes, if Github is having issues (like it happens every few weeks), it can take a little longer.

[2021-06-22 16:32] scottaohara commented on #326
I have commented on #287

[2021-06-23 11:25] #328 closed, assigned to nobody

[2021-06-24 08:12] marcoscaceres commented on #328
@patrickhlauke, someone pointed me to:
https://github.com/w3c/html-aria/deployments/activity_log?environment=github-pages

It allows you to see if a gh-pages deployment succeeded. Could be useful the case you described above where for whatever reason gh-pages doesn't get updated.

[2021-06-24 14:42] scottaohara commented on #326
As of today, the number of features at risk is now 9

[2021-06-26 12:03] justyou2914 opened #331 "W3c/html-aria"

[2021-06-26 12:03] justyou2914 commented on #331
Tnx

[2021-06-26 12:03] justyou2914 commented on #331
Tnx

[2021-06-26 12:09] justyou2914 commented on #331
#331

[2021-06-26 12:09] justyou2914 commented on #331
#331

[2021-06-26 12:51] #331 closed

[2021-06-26 13:54] scottaohara commented on #326
As of today, the number of features at risk is now 1

[2021-06-26 14:15] LJWatson commented on #326
With thanks to everyone who responded, this CFC passes with multiple expressions of support and no objections.

[2021-06-26 14:15] #326 closed, assigned to nobody

[2021-06-26 20:14] scottaohara commented on #326
Update: number of features at risk is now zero.

[2021-06-26 20:17] scottaohara commented on #277
This update is editorial.  Match the way `input type=checkbox` links to the `aria-checked / checked` rule.

[2021-06-26 21:11] scottaohara opened #332 "wbr element"
presently allows any role.  This seems incorrect and rather should not allow any role.

Additionally, should only allow for `aria-hidden` attribute, as other global attributes don't make sense for this element.

A similar global attribute update needs to be made for the `br` element.

[2021-06-28 15:56] siusin commented on #273
The horizontal review is now closed.

[2021-06-28 15:56] #273 closed, assigned to nobody

[2021-06-30 02:54] marcoscaceres opened #334 "Export role attribute for use by other specs"
I noticed that the `role` attribute is marked up as code, but not linked to the HTML spec.

Should we link it?

[2021-06-30 15:47] plehegar commented on #273
APA WG concluded [no need to re-review](https://www.w3.org/WAI/APA/wiki/ARIA_in_HTML).

[2021-07-01 20:46] plehegar commented on #317
@michael-n-cooper  reminder: to remove needs-resolution, it needs to be removed on the horizontal side first, so I removed it in https://github.com/w3c/a11y-review/issues/74

[2021-07-11 13:21] scottaohara commented on #280
closing this issue per merge of #333 where "MUST" was changed to "SHOULD"

[2021-07-11 13:21] #280 closed, assigned to nobody

[2021-07-16 21:45] scottaohara commented on #334
eh?  if we're looking at the same thing, HTML defines role as:

which doesn't seem particularly helpful.  wouldn't be opposed to linking to the ARIA definition though.

[2021-07-19 05:35] marcoscaceres commented on #334
Ah yeah, of course. We export it properly here and then HTML should not redefine it.

[2021-07-19 05:46] marcoscaceres commented on #334
Reopening with new issue title

[2021-07-19 05:50] marcoscaceres commented on #334
We should look at how [`<title>`](https://html.spec.whatwg.org/#the-title-attribute) is defined.

[2021-07-23 20:23] scottaohara commented on #298
Closing.  Reasoning provided in the closed PR  #299

[2021-07-26 07:55] dd8 opened #338 "aria-colspan / aria-rowspan on td / th elements without colspan / rowspan"
The `colspan` and `rowspan` attributes both default to 1 on `th` / `td` in the DOM and the table processing model if the attributes are absent.

https://html.spec.whatwg.org/multipage/tables.html#forming-a-table
https://html.spec.whatwg.org/multipage/tables.html#dom-tdth-colspan

https://w3c.github.io/html-aria/#att-colspan

Should the only allowed value be `aria-colspan=1 ` on `th` / `td` when `c

[2021-07-26 23:46] scottaohara commented on #338
Hi @dd8,

Thank you for raising this issue.  I'm going to re-review how these are working and, along with some other table element rules that need to be updated, make necessary edits.

[2021-07-27 07:21] dd8 commented on #338
@scottaohara I'm writing some unit tests to test our implementation against the spec wording - so may end up filing another issue.

I've also raised a couple of issues against the W3 validator:
https://github.com/validator/validator/issues/1198
https://github.com/validator/validator/issues/1196

[2021-07-27 11:32] dd8 opened #339 "Unclear interaction of "MUST NOT use opposing values" requirement with aria-checked and aria-hidden"
## Potential  Issue

In "3.1 Requirements for use of ARIA attributes in place of equivalent HTML attributes" the leading paragraph says:

https://www.w3.org/TR/html-aria/#docconformance-attr

This is an absolute prohibition on using opposing values per RFC 2119.

The 'Rules of ARIA attribute usage by HTML feature' table below this restates the "MUST NOT use these ... in opposition"  requirement fo

[2021-07-27 13:32] scottaohara commented on #339
Hi @dd8.  Thanks again for this issue. I agree that a revising the leading paragraph will be the best option here, as the wording for `checked`/`aria-checked` and `hidden`/`aria-hidden` was deliberate due to these being special cases that don't neatly align with the rest of the attributes.

e.g., there is no MUST NOT statement for `checked`/`aria-checked` since the `checked` attribute only indicat

[2021-07-27 16:09] scottaohara commented on #259
Tasks to complete this issue:
- [ ] Create example of a conforming and failing custom element per #210
- [x] Create an example regarding the conforming way to 'disable' a link per #186
- [ ] Create at example of where authors MAY use an `aria-*` attribute instead of its HTML equivalent (e.g., `button aria-disabled=true`).
- [x] Create an example of where authors MUST NOT use an `aria-*` attribute

[2021-07-27 16:10] scottaohara commented on #186
closing as this work will be picked up in #259

[2021-07-27 16:10] #186 closed, assigned to nobody

[2021-07-27 18:20] dd8 commented on #339
@scottaohara - excellent.

Unrelated to this issue but I think I know the reason for the lazy loading problems outlined in your blog - they're due to a weird interaction with the acc-name calculation:
https://www.scottohara.me/note/2019/08/08/lazy-images.html
Ping me an email at mark dot rogers at powermapper dot com and I can explain the issue.

[2021-07-27 23:20] #339 closed, assigned to scottaohara

[2021-08-11 14:26] accessabilly commented on #258
I want to bring up the following to reconsider the current ARIA spec for role attributes on table elements `<td>, <th>, <tr>`:

I'm currently using Adrian Roselli's technique for [responsive tables](https://adrianroselli.com/2018/02/tables-css-display-properties-and-aria.html#TheTable): It "destroys" semantics of HTML table elements via CSS by setting them all to `display: block` to make the table

[2021-08-12 11:30] scottaohara commented on #258
It seems to me that there are two issues here.
1. We can request the HTML validator remove the errors when using the implicit roles on the native HTML elements.  For instance, there are other elements which indicate there are no allowed roles (`details` with implicit `role=group`), but that only surfaces a warning when used, not an error. Consistency with other treatments, and not producing both w

[2021-08-17 22:29] scottaohara commented on #338
after digging into this more, I'm thinking the best course of action would be to file some really odd browser quirks and remove the MAY rules for this version of the spec.   The SHOULD NOT and MUST rules would still apply, so we can keep those in and make further updates in the next version of the spec as needed.

@stevefaulkner, @patrickhlauke thoughts?

[2021-08-18 19:03] stevefaulkner commented on #338
@scottaohara agreed

[2021-08-18 21:05] patrickhlauke commented on #338
would removing that MAY clause not essentially result in:

* use `colspan` when the element allows `colspan`
* should not use `aria-colspan` if there's already a `colspan` (but if you do, they need to match value)
* must not use both `colspan` and `aria-colspan` if there's a mismatch in value

essentially...making it pointless? (use `colspan`; then, if you have good reason, double it up with `aria

[2021-08-18 22:41] scottaohara commented on #338
@patrickhlauke that's not what the SHOULD NOT says.

so this would warn developers to not use aria-colspan/rowspan if they could instead (should be) using the native HTML attribute.

[2021-08-18 22:42] scottaohara commented on #338
@patrickhlauke deleting my previous comment cause I was looking at the text for the next version rather than what's there now.

But yes, further updates are needed (and i'm working on them) but doing any more at this point would require getting updated implementations.

the should not now would indicate to developers that they're using aria needlessly since they already declared the native colspan

[2021-08-18 22:58] scottaohara commented on #338
jeez.  i clearly need to call it a day. pushed up the wrong changes.  will get this sorted tomorrow.

[2021-08-23 12:10] #338 closed, assigned to scottaohara

[2021-08-25 07:33] LJWatson opened #343 "Status report and planning for TPAC 2021"
[TPAC](https://www.w3.org/2021/10/TPAC/#schedule) will be virtual again this year. There will be a WebApps WG meeting at some point between 24 and 29 October.

There are two things we need you to do in the meantime:
1. Let @marcoscaceres  and I know before 17 September if you plan to hold a specification specific meeting (in addition to the general WebApps WG meeting)
2. Post a specification statu

[2021-08-27 17:12] jongund opened #344 "Allowed roles for nav element does not include none or presentation roles"
I am curious to the reasoning of allowing `none` and `presentation` roles on the `aside` element, but not allowing them on the `nav` element.  There is a lot of abuse of the `nav` element and this restriction takes away one technique to remediate those pages.  It also appears to me to be a little inconsistent when another similar element, `aside` is allowed to have role `none` or `presentation`.

[2021-08-27 17:52] dylanb commented on #344
Why are we restricting it at all, isn't its purpose to allow semantics to be removed regardless? This seems as absurd as saying oh, you can not use `aria-hidden` on `<img>` but you can use it on other elements.

[2021-08-28 03:18] scottaohara commented on #344
@jongund i think you raise a good point. Being before my time here, I can assume as to why this rule was created. Likely due to the pretty straight forward meaning of nav vs the ambiguous nature of aside to developers and how its use in html vs its aria landmark usage can seem contradictory, as I know you are already aware. I.e., aside is more ripe to unwanted semantics than nav, regardless of mis

[2021-08-28 13:52] dylanb commented on #344
I think the disconnect here is that @jongund is talking about using ARIA to make bad code better and @scottaohara is looking at this from the perspective of "good coding practices".

It is definitely better not to put role of `none` or `presentation` on a `<nav>` but if this is change is feasible (for example low effort) and it makes the accessibility better while refactoring the app to eliminate

[2021-08-28 14:40] scottaohara commented on #344
That’s not entirely accurate @dylanb. I understood the reasoning behind why Jon would file this issue. My comments about why there would be restrictions were per your comment “ Why are we restricting it at all…” as allowing  role=none on any element would not always result in bad code becoming better.

Again, I think this is probably a good change to make for this element, and likely a few others

[2021-08-28 14:47] stevefaulkner commented on #344
I suggest that _should not_ be better than _should_ if we are going to change from _must not_. The spec should encourage best practice wherever practical

[2021-08-30 07:46] dd8 opened #345 "Do MUST requirements apply to all stages of document life-cycle"
Do these conformance requirements apply throughout entire document life-cycle, or only some parts of it (e.g. after all scripts have run).

https://www.w3.org/TR/html-aria/#conformance

This is tied up with the issues surrounding WCAG 4.1.1:
https://github.com/w3c/wcag/issues/770#issuecomment-907420698

There is a reference to document life-cycle in WAI-ARIA but it doesn't define the term:

https:

[2021-09-02 19:11] dylanb commented on #344
I am sure that there are cases where every element has been used incorrectly and where it would be improved by the addition of a role or `none`

[2021-09-02 19:34] scottaohara commented on #344
Untrue for interactive elements.

[2021-09-02 20:45] patrickhlauke commented on #345
quickfire takes:

I would generally understand the life-cycle to be "from the moment the page/document is interactable/operable by the user". This generally means once the complete document and its necessary external resources have been transferred to the user agent, and the necessary initial scripts have been run. From that point on, until the document is unloaded. Not sure if this needs clarifyi

[2021-09-02 23:10] scottaohara opened #346 "Allow aria-hidden=true on picture element"
presently the picture element allows for no roles or aria-* attributes, which generally makes sense because the picture element itself is not an accessible object.   That said, there could be a situation where a picture that contains a decorative image needs to be hidden..... and for whatever reason the expected `alt=""` on the fallback image cannot be used, but `aria-hidden=true` on the picture e

[2021-09-02 23:44] stevefaulkner commented on #346
WFM

[2021-09-08 16:41] jongund commented on #344
I think the `none` and `presentation` role values should be allowed on the `main` and `nav` elements, this provides a path to "fix" poor markup, especially when `nav` element is nested with other `nav` elements.  This will also make them consistent with the other elements that can create landmarks (e.g. `aside`, `footer`, `form`, `header`).

[2021-09-09 01:17] carnoxen opened #347 "Proposal: role="subheading""
## What is this?
The subtitle for its parent heading element.

## Example
[code]

## Reason for proposal
It might alternate ```<hgroup>``` element.

I know that ```role="doc-subtitle"``` already exists. But "subheading" is more consistent with heading role element.

[2021-09-09 12:43] LJWatson opened #348 "CFC: Advance ARIA in HTML to Proposed Recommendation (PR)"
This is a Call For Consensus (CFC) to advance the [ARIA in HTML Candidate Draft](https://www.w3.org/TR/html-aria/) to Proposed Recommendation.

The Candidate Draft has only editorial changes from the [Candidate Snapshot of 6 July](https://www.w3.org/TR/2021/CR-html-aria-20210706/).

An [implementation report](https://w3c.github.io/html-aria/results/implementation-results.html) is available, docume

[2021-09-09 14:14] scottaohara commented on #347
@carnoxen you have [already requested this role from the ARIA working group](https://github.com/w3c/aria/issues/1378) (which is the proper place to have filed this issue).

This is not the place to request new roles, as the purpose of this spec is to define how ARIA may be used in HTML - where as the ARIA spec actually defines the roles and attributes of ARIA. And it's not helpful to duplicate iss

[2021-09-09 14:14] #347 closed, assigned to nobody

[2021-09-09 16:47] carnoxen commented on #347
Then please erase this issue

[2021-09-09 17:22] scottaohara opened #349 "Identify non-content attributes which win out vs corresponding aria- attributes"
for instance, `showModal` for dialogs should win out vs aria-modal=false
the intermittent idl attribute for checkboxes would win out vs aria-checked=mixed

this might require further progress on the AOM, however, before conformance checkers can accurately determine if these are in conflict.  but, for starters we could at least make an informative declaration regarding this, referencing the ARIA sp

[2021-09-13 17:01] scottaohara opened #350 "review allowed roles for legend elements"
In reviewing the following test case with latest browser / screen reader combos, the implicit functionality of the legend to still name its parent fieldset remains intact, while also being exposed as a heading or the specified level.

https://codepen.io/scottohara/pen/zYzzXrw

Seems that allowing a `role=tab` might also be good her for parity with `role=heading`.

`role=none/presentation` could al

[2021-09-13 20:34] JAWS-test commented on #350
Just because that's how it currently works (rather coincidentally, right?) we can't rely on it always being that way, because it's not correct in itself that a legend with a different role, still serves as a label for a fieldset. That's why I would be against allowing legend to have other roles - unless it is specified somewhere that the labeling function of legend must be preserved, even if it ha

[2021-09-13 23:49] scottaohara commented on #350
changing an element's role does not necessarily change its underlying semantic functionality.  Just like changing an `img` to a `role=button` doesn't stop `alt` from providing it an accessible name, nor does changing an `<a href>` to any allowed role remove the link's native context menu menuitems.

re: "rather coincidentally, right?"

not sure what you're implying?  I have seen this done on and o

[2021-09-13 23:53] carnoxen commented on #347
How can i delete this issue? I want to do.

[2021-09-13 23:54] carnoxen commented on #347
Hey if you have a permission please erase this issue

[2021-09-13 23:56] scottaohara commented on #347
it's closed.  i'd rather not delete issues unless they're flagrant spam.

[2021-09-13 23:58] carnoxen commented on #347
Okay.

[2021-09-14 04:01] JAWS-test commented on #350
This also seems to me to be a coincidence that cannot be relied upon, as this is not regulated in Accname in this way

I don't think JAWS bugs should lead to adapting the specification in a way that can be dangerous (on the one hand because it's not clear how browsers will behave in the future, on the other hand because developers expect that a legend with heading role is no longer a legend).

Whe

[2021-09-14 11:39] scottaohara commented on #350
I think I need to stress again that changing a role does not undo the strong native semantics / functionality of the underlying element.  ARIA does not change functionality, nor has it ever.  So, while I respect where your concerns are coming from, please do keep in mind that this is not mere coincidence, as you keep putting it.

Concerning JAWS bugs adapting a specification - yes the bug is relat

[2021-09-14 15:16] JAWS-test commented on #350
If ARIA roles are allowed for legend, I'm in favor of allowing them for caption/figcaption as well, for consistency. role=heading on caption/figcaption would make similar sense as on legend.

The only problem with figcaption would be if it is not at the beginning of figure. For caption and legend this is automatically the case according to the HTML specification.

[2021-09-14 15:26] JAWS-test commented on #350
@scottaohara

I did not realize that this was the case in every respect. I also didn't find this so explicit in the W3C ARIA documents. I also think that this is not true in every case. For example, if I add a role to a `th` element, the element no longer serves as a column header for the table - and I actually destroy the entire table structure. This may be because `th` is not considered a label

[2021-09-14 15:55] scottaohara commented on #350
per your first comment:
would need to test that, due to the strong role relationship / heuristics of tables and the expected elements/roles that are allowed as child elements of tables.  Much different than a fieldset/legend which is not nearly as convoluted how they are processed as a table.

Which goes into your second comment, Tables are messy due to their long history of misuse for layout purp

[2021-09-15 13:57] dd8 commented on #345
One issue here is the mainstream screen readers run as separate processes, so there's the potential for asynchronous access before the document becomes interactable/operable. I believe that Safari has an 'isolated accessibility tree mode' which allows VoiceOver to access the accessibility tree on a secondary thread with JavaScript running on the main thread.

This is very implementation dependent,

[2021-09-15 15:27] scottaohara opened #351 "Be more percise with allowed roles on the li element"
The allowed roles on list items (`<li>` elements) are missing a requirement that the parent `ol`, `ul`, `menu` role must be overwritten to allow for these specific roles that would not be valid within a `role=list`.

Furthermore, if a parent list element's is set to `role=none`, then i could see an argument that the allowed roles for a list item be expanded, and author guidance be provided that th

[2021-09-16 07:50] LJWatson commented on #348
With thanks to everyone who responded, and with multiple expressions of support and no objections, this CFC passes.

We'll set things in motion to transition ARIA in HTML to PR.

[2021-09-16 07:50] #348 closed, assigned to nobody

[2021-09-20 17:47] scottaohara commented on #200
Adding allowed aria-* attributes and allowed roles labels as the updated implicit roles may require some changes for certain elements.

[2021-09-21 11:57] scottaohara commented on #343
Status report:
* **What progress has your spec made in the last 12 months?**: Spec went to CR / going into PR. Preparing tasks for next version of spec.
* **Is anything blocking your spec from moving to CR?**: No
*  **If yes, what is your plan to unblock it and do you need any help?**: Not blocked.

Further updates: while we wait through the process for ARIA in HTML to reach official rec status, w

[2021-09-24 00:11] scottaohara opened #354 "Chore: spec repo docs updates and additions"
Some thoughts:

- [ ] expand the readme.  for instance, mention the conformance tools we check against.  Also, request that conformance tools that we are unaware of that use this spec inform us.
- [x] additional process for PRs / merging PRs.  e.g., we need to file issues with the conformance checkers and get at least 2 commitments to implement / implementations before we can merge into the spec.

[2021-09-24 13:04] dylanb commented on #344
you underestimate the bad code that gets produced

[2021-09-24 14:35] scottaohara commented on #344
@dylanb I would kindly ask you to not assume what I do and don't know/understand. I am quite aware of how much poor code is written.

My point was that allowing / specifying `role=none` to interactive elements would not be helpful.  I don't think we should be debating this, as it is spec'd to purposefully be ignored in such situations.

[2021-09-25 20:20] dylanb commented on #344
settle down Mr. @scottaohara that last comment was intended to be a lighthearted dig at state of the World Wide Web

[2021-09-29 03:16] JAWS-test opened #355 "Implicit ARIA semantics for summary should not be "button""
In the column "Implicit ARIA semantics", summary has "button", but summary has no implicit ARIA semantics

See: https://www.w3.org/TR/html-aam-1.0/#summary-element, https://github.com/whatwg/html/issues/2272, https://github.com/w3c/html-aam/issues/345

[2021-09-30 23:47] scottaohara commented on #355
adding a blocked label here, because yes HTML AAM does not define `summary` as `role=button`.  However, in almost all implementations this element IS exposed as a `button`... so indicating this in *this specification* isn't really inaccurate either.

I do think we could add a note to this, stating this particular implicit role matches present reality... but i do not think it solves anything to com

[2021-10-01 19:07] scottaohara commented on #325
Spent quite a bit of time reviewing this today.  Due to the `area` element's inability to be styled effectively, that it cannot contain any child elements (save for css pseudo-element content - but even that doesn't render near the actual `area`, but rather adjacent to the image map)... i really don't see how this would be a good change.  though the concept of `a` and `area` without `href` are sim

[2021-10-03 20:50] scottaohara opened #357 "Editorial: instances of 'no role' do not link to definition"
All instances of 'no role' should have been linked to the 'no role' definition.  Presently not a single one is, so that was a pretty big miss.

[2021-10-03 21:17] scottaohara opened #358 "Clarification: update definition of 'any role'"
The current definition of 'any role' states:

this definition should be updated to indicate that this is not a carte blanche invitation to truly add 'any role' to an element.

For instance, we should make mention of the fact that any specified role must also follow the rules of use as outlined in the ARIA specification.  e.g., `<i role=gridcell>` *is  valid* per `<i>` allowing 'any role', BUT it w

[2021-10-03 22:05] scottaohara opened #359 "Review elements that allow 'any role'"
The following elements allow for 'any role'.  The inline, text-level semantics, elements are the ones that seem a bit suspect at allowing 'any' role... but maybe someone has a use case for `<i role=table>...</i>` or `<b role=main>...</b>`?

Elements: `address`, `blockquote`, `canvas`, `hgroup`, `p`, `del`, `ins`, `rp`, `rt`, `ruby`, `a` without `href`, `abbr`, `b`, `bdi`, `bdo`, `cite`, `code`, `d

[2021-10-05 15:12] patrickhlauke commented on #325
discussed at meeting today with @scottaohara and @SteveFaulkner - agreed to allow `role="button"` and `role="link"` (with `tabindex="0"`) but not other roles due to weird browser behaviour/treatment of `<area>`

[2021-10-05 15:13] scottaohara commented on #325
specifically due to the fact that no styling is allowed for these elements, or allow for nested content in away that would make sense for any other role here.

[2021-10-07 19:53] scottaohara opened #361 "Update allowances for aria-checked on inputs"
Presently we say that authors SHOULD NOT use aria-checked on radios and checkboxes.

After discussing https://github.com/w3c/aria/issues/1622 in today's ARIA WG meeting, and the problems that using `aria-checked` on native checkboxes can have - particularly due to `aria-che3cked=mixed` and bugs that exist now with Chromium browsers where `input type=checkbox checked aria-checked=false` will expose

[2021-10-08 18:44] scottaohara opened #362 "Create normative requirements for allowed descendants of explicit ARIA roles"
Presently section four, allowed descendant of ARIA roles, is marked as non-normative.

The next version of ARIA in HTML will be revising this section to create both normative and non-normative sub-sections.  Things we should keep / expand upon:

- Examples of non-conforming descendants with explanations as to why.
- more clearly calling out explicit roles and their specific restrictions - 'whys' w

[2021-10-11 11:36] andymantell commented on #350
I've put some examples together here using `<legend role="heading" aria-level="1">`:

https://nhs-duec.github.io/headings-inside-legends-test-cases/

So far this has been testing well, with no issues using:

Windows 10 | Chrome 94 | JAWS 2021
Windows 10 | Chrome 94 | NVDA 2021.1
Windows 10 | Firefox | NVDA 2021.1
Windows 10 | IE11 | NVDA 2021.1
Windows 10 | Edge | NVDA 2021.1
Android 10 | Chrome 9

[2021-10-11 12:26] scottaohara opened #363 "dpub 1.1 deprecated roles"
`doc-biblioentry` and `doc-endnote` are being deprecated in dpub aria 1.1.

related to #199.  we need to call out deprecated features which should not be used in HTML any longer.

[2021-10-11 12:40] scottaohara commented on #350
appreciate you putting these together, @andymantell.  thanks for sharing the results.

[2021-10-11 12:42] andymantell commented on #350
I've just had feedback from someone that they were unable to access the heading with MacOS / Voiceover. Which is probably enough to render the pattern unviable :-(

[2021-10-11 12:59] scottaohara commented on #350
looks like macOS is ignoring the explicit role and webkit continues to treat the element as static text (per inspecting the element with macOS's a11y Inspector).   Webkit dev panel shows the proper explicit ARIA roles/properties set to the element - so this is definitely just Webkit under the hood ignoring what developers are doing here.

As you noted in your results, and I can verify with iOS 15.

[2021-10-13 15:15] scottaohara opened #364 "Rules for use of aria-expanded on native HTML comboboxes"
Related to #277, but this would be a normative update for `input list=...`.  Update these instances of `input list=...` to indicate authors are **not to use `aria-expanded`.**  This is handled by the combobox role and declaring this attribute is both unnecessary, and could potentially lead to misalignment with conflicting native semantics of the native elements.

Furthermore, similar rules would n

[2021-10-15 14:22] scottaohara opened #365 "Global rules for elements that are generic / set to role=none"
There are many elements that do/will map to `generic` per ARIA 1.2 / Core AAM / HTML AAM updates.

Rather than call out these rules multiple times throughout our table, we should create a section specifically for rules that should be taken into account, and then we can make reference to those in the table.

for instance, these elements must not be named (aria-label / aria-labelledby).

If set to r

[2021-10-20 11:37] Fenwick17 commented on #258
Adding on to what was said by @accessabilly. At NHS we have a [responsive table](https://service-manual.nhs.uk/design-example/components/table/responsive?fullpage=undefined&blankpage=undefined) which works in a similar way to the Adrian Roselli tables. Where we use fixed roles to maintain the tables default roles despite the CSS changes.

This also leads to use getting numerous HTML validation err

[2021-10-20 12:14] scottaohara commented on #258
Hi @Fenwick17
Thanks for the comment.  The request for the validator to update has already been made (link in my last comment), so there's no more convincing needed here.  The conformance checker is what needs to be updated now.

[2021-10-22 11:58] scottaohara opened #366 "Add rules to clarify valid aria-invalid use"
`aria-invalid` can have the following values:
* `true` - to indicate the value entered by the user is invalid
* `false` - default state, no issues with validity
* `grammar` - a grammatical error was found
* `spelling` - spelling error found

ARIA 1.2 is deprecating the attribute from being global as the `true`, and in some ways `false`, values are specifically suited for form controls.  `grammar`

[2021-10-26 15:38] #346 closed, assigned to nobody

[2021-10-28 00:59] jcsteh opened #368 "Problems with allowed roles for iframe, embed and object elements"
The allowed roles for the iframe, embed and object elements are either not supported in multiple browsers, are exposed inconsistently or break the embedded content completely with common browser/assistive technology combinations. In particular:

1. The presentation/none role is not supported on these elements by either Firefox or Chrome and this would be difficult (if not infeasible) to fix.
    -

[2021-11-04 20:08] #343 closed, assigned to nobody

[2021-11-08 12:37] stevefaulkner commented on #368
@jcsteh works for me, @scottaohara?

[2021-11-08 12:46] scottaohara commented on #368
agreed as well.  making a PR for these updates.

[2021-11-08 13:11] pkra commented on #368
Related: https://github.com/w3c/aria/issues/879 (iframe and role parity)

[2021-11-08 16:55] jnurthen commented on #368
@jcsteh A common issue is where page authors want to make the iframe itself be essentially invisible to all users. To the sighted user the content of the iframe is indistinguishable from the base page but is presented in an iframe for sandboxing reasons.
What is the best way with firefox to accomplish this? IMO many of the attempts to use roles are trying to accomplish this (I've certainly been do

[2021-11-09 00:15] scottaohara opened #371 "Allowances for proposed search element"
Under the assumption that HTML will eventually merge the proposed `search` element into the spec, we would need to also provide role and aria-* attribute allowances.

I have some initial thoughts, but am creating this issue as a TODO and to let other people weigh in, if they so choose.

[2021-11-09 12:02] scottaohara commented on #217
closing per #368 and the changes from #370.

If/when browsers / AT consistently handle roles on this element again, we can open this back up for discussion.

[2021-11-09 12:02] #217 closed, assigned to nobody

[2021-11-16 13:27] #325 closed, assigned to scottaohara

[2021-11-18 07:50] siusin opened #373 "CFC: Publish ARIA in HTML as a W3C Recommendation allowing new features"
This is a Call For Consensus (CFC) to advance the [ARIA in HTML Proposed Recommendation](https://www.w3.org/TR/html-aria/) to a W3C Recommendation [allowing new features](https://www.w3.org/2021/Process-20211102/#revised-rec-features).

If you support this proposal, add a "thumbs up" reaction to this comment.

If you do not support this proposal, add a "thumbs down" reaction to this comment, and p

[2021-11-20 01:01] scottaohara opened #374 "Define allowed ARIA attributes for div when a child of dl element"
Allowing `div` as a child of `dl` has introduced some oddities with AT understanding the contents of a `dl` element correctly.  This seems mostly an issue for AT to resolve, and largely they have as far as I recall,  Browsers generally appear to be exposing their accessibility trees appropriately (more testing needed).

However, as I was reminded by https://github.com/whatwg/html/issues/7347, I th

[2021-11-23 14:51] ZoeBijl opened #375 "Review allowed roles for `button`"
With the introduction of a [select only combobox (no text input)](https://w3c.github.io/aria-practices/examples/combobox/combobox-select-only.html), would it make sense to allow `role=combobox` on `<button>`?

[code]

[2021-11-23 15:59] scottaohara commented on #375
Been mulling this over for awhile, and did some testing with the ARIA practices codepen demo - changing the div to a button.  It seems like it might be ok from a quick pass?  Kind of nice actually, because then the `label` can actually be associated with the `button` as well.  Though it would _have_ to be used on a button with `type=button`, to mitigate the possibility of the button's default subm

[2021-11-23 16:34] JAWS-test commented on #375
The advantage of a button over a div would be that with Windows contrast adjustment, the drop down element would be more recognizable as an interactive element

[2021-11-23 16:48] JAWS-test commented on #375
@scottaohara

Your example does not work in Firefox (JAWS and NVDA). However, this is also true for the original WAI-ARIA Authoring Practices 1.2 example. The cause is a bug in Firefox that
* does not pass the value
* does not submit the role correctly (combobox instead of select)

But this does not speak against the suggestion of @ZoeBijl, because once the Firefox bug is fixed, it should work wit

[2021-11-23 18:54] scottaohara commented on #375
Thanks for the heads up @JAWS-test.  Is there presently a bug for this gap in firefox's bug tracker, that you might be aware of?

[2021-11-24 05:33] JAWS-test commented on #375
@scottaohara

https://bugzilla.mozilla.org/show_bug.cgi?id=1702392
https://bugzilla.mozilla.org/show_bug.cgi?id=1631693
https://bugzilla.mozilla.org/show_bug.cgi?id=1732284

[2021-11-24 19:09] JAWS-test commented on #375
Safari and VoiceOver:
* role-combobox on input, div and button is output the same.
* output differs from output of select and datalist, although input should be like datalist and div and button like select - this seems to me to be a bug of Safari or VoiceOver

But this doesn't mean you shouldn't allow combobox on button either

[2021-11-24 20:26] scottaohara commented on #375
thank you

[2021-11-25 15:33] siusin commented on #373
This CfC passed with no objection.

[2021-11-25 15:33] #373 closed, assigned to nobody

[2021-12-02 16:24] carmacleod opened #376 "dfn and details are not in alphabetical order"
Happened to notice that the dfn and details rows need to be swapped in the doc conformance table. :)
https://www.w3.org/TR/html-aria/#el-dfn
https://www.w3.org/TR/html-aria/#el-details

I will provide a PR in a few minutes.

[2021-12-02 16:30] #376 closed, assigned to nobody

[2021-12-02 22:37] #249 closed, assigned to nobody

[2021-12-02 23:03] carmacleod opened #378 "math and mark are not in alphabetical order"
Happened to notice that the math and mark rows need to be swapped in the doc conformance table. :)
https://www.w3.org/TR/html-aria/#el-math
https://www.w3.org/TR/html-aria/#el-mark

I will provide a PR in a few minutes.

[2021-12-03 00:40] #378 closed, assigned to nobody

[2021-12-03 01:11] scottaohara opened #380 "Correction: Allow role=radio on img alt=foo"
Per #212, `role=radio` was supposed to be allowed on an `<img alt=foo ...>` but I missed adding it into the PR and it was not caught in review.

This is specifically a correction to the spec.

[2021-12-04 17:07] scottaohara opened #382 "datalist doesn't actually resepct/expose aria-* attributes"
Presently the `datalist` allows for global aria-* attributes and any aria-* attributes applicable to the listbox role.

In reality no aria-* attributes are respected on the `datalist` since its rendered ui is completely controlled by the browser.

The `datalist` attribute allowances should be updated to reflect this reality and simply indicate no ARIA attributes are allowed on this element.

[2021-12-04 17:43] scottaohara opened #384 "Revise allowed aria-* attributes for HTML comboboxes and listbox"
ARIA's `role=combobox` and `role=listbox` have a number of supported, inherited, and with `combobox`, required attributes.

With their current native HTML equivalents `select`, `input list=foo` and `select size=1+` or `multiple`, many of these attributes that are necessary in the construction of fully custom ARIA equivalents either have no actual usefulness, or can conflict with with strong native

[2021-12-04 17:43] #364 closed, assigned to nobody

[2021-12-04 17:43] #277 closed, assigned to nobody

[2021-12-04 18:45] scottaohara opened #385 "Usecase for aria-owns on HTML form controls?"
Where `aria-owns` can have practical use cases for fully custom ARIA implementations of form controls, I question the validity of this attribute on the current set of native HTML form controls.

Taking into consideration that `input` elements cannot have descendants in HTML, and for form controls like `textarea` and `select` which do allow for text or options, respectively, using `aria-owns` with

[2021-12-04 19:12] scottaohara commented on #384
Initial thoughts:

`input list=foo`
Authors MUST NOT use `aria-activedescendant`, `aria-autocomplete`, `aria-expanded`, or `aria-haspopup` on `input`s with a `list` attribute.

`select` (combobox)
Authors MUST NOT use `aria-activedescendant`, `aria-autocomplete`, `aria-expanded`, or `aria-haspopup`, `aria-readonly` attributes on a `select` element with an implicit `combobox` role, or a `menu` role

[2021-12-05 01:17] aardrian commented on #385
Generally agree that for items that do not allow children (or element children, or not-specific element children) it should be disallowed.

Is it worth also looking at if it should also be disallowed for nesting interactive elements/roles (which are not form controls)?

[2021-12-05 22:18] #294 closed, assigned to patrickhlauke

[2021-12-06 07:07] JAWS-test commented on #384
aria-readonly is not output by JAWS+Firefox, JAWS+Chrome, NVDA+Firefox, NVDA+Chrome on HTML select multiple, select size>1, select size=1 (in form mode and in reading mode).

aria-readonly on elements with implicit role=listbox (select size >1 or select multiple) results in the following incorrect output in reading mode of the screenreaders in Chrome:
* JAWS: selection list is not output (as if it

[2021-12-06 07:21] JAWS-test commented on #384
aria-readonly is also not output by JAWS+Firefox, JAWS+Chrome, NVDA+Firefox, NVDA+Chrome on ARIA role=listbox (in form mode and in reading mode).

The bug in reading mode (element is not noticeable at all, not even in the element overview and quick navigation) occurs with role=listbox with aria-readonly=true in Firefox and Chrome. This would be an error of the screen reader, because currently aria

[2021-12-06 15:07] carmacleod commented on #385
I also wonder about `form` itself. I didn't test, but I'm guessing that a form control that is not inside its form is not going to be included in the form's submission... even if it is pointed to by `aria-owns`.

[2021-12-06 15:16] scottaohara commented on #385
yes, it would not be included @carmacleod.  That particular use case might fall into a warning territory, as an authors could very well use `aria-owns` on a form that points to a form control, or its container, but if the control has a [`form` attribute](https://html.spec.whatwg.org/multipage/form-control-infrastructure.html#attr-fae-form) associating it with the form, then everything should be ok

[2021-12-06 16:31] carmacleod commented on #385
Good point, but then I guess we'd need to look out for `aria-owns` conflicting with a form control's `form` attribute? Yuk.

Anyhow, you're right that `aria-owns` should still be allowed on the `form` element.

[2021-12-08 01:06] #332 closed, assigned to nobody

[2021-12-08 16:56] carmacleod commented on #382
Will it still have the implicit role of `listbox`?

[2021-12-08 17:13] scottaohara commented on #382
yes.  that's the implicit role for the `datalist`.

[2021-12-09 22:55] stevefaulkner opened #388 "H1-H6 AND ROLE=HEADING allowed descendants differ"
`h1-h6` allows phrasing content
https://html.spec.whatwg.org/multipage/dom.html#phrasing-content-2

aria in html `role=heading` allows

https://www.w3.org/TR/html-aria/#allowed-descendants-of-aria-roles

which results in less than optimal markup patterns being allowed. refer to https://github.com/validator/validator/issues/1282 as an example. I suggest the allowed descendants rule for `role=headin

[2021-12-09 23:17] scottaohara commented on #388
related to the work of #362 to make these normative requirements

[2021-12-13 17:34] #380 closed, assigned to nobody

[2022-01-07 01:38] #363 closed, assigned to nobody

[2022-01-09 17:02] scottaohara commented on #250
per the closure of the linked issue, i'm also thinking this issue should be closed.  I don't think allowing this role on the body, which otherwise does not allow any role, makes sense at this time

[2022-01-09 17:02] #250 closed, assigned to nobody

[2022-01-10 11:46] scottaohara commented on #366
Requires issue 391 (linked above) be merged to create the section of the spec to include this information.

[2022-01-10 13:31] scottaohara commented on #358
note that #391 has added some updates to the paragraph that initially describes 'any role'.

[2022-01-10 16:42] #357 closed, assigned to nobody

[2022-01-12 16:23] #388 closed, assigned to nobody

[2022-01-15 19:21] scottaohara opened #395 "Inconsistent allowed roles for "button" elements"
This issue was filed while creating the PR to address #375.

`input type=image` is a graphical version of `input type=submit`.

The latter, along with `input type=reset` does not allow for any role.

The former, along with the `button` element and `input type=button` allow for specific roles.

A `button` element defaults to `type=submit` if the `type` attribute is missing.  The spec does not disti

[2022-01-16 17:13] scottaohara opened #397 "Consider allowing role=combobox on some more text inputs"
Right now `input type=search`, `tel`, `email` and `url` all do not allow any role to be specified.  Save for `type=search`, these are all generally announced as standard 'edit' fields with their accessible names and on-screen keyboards being the primary differentiators between them.

These fields can be given the `list` attribute to turn them into native comboboxes, but due to the limitations of s

[2022-01-17 01:57] scottaohara commented on #374
Testing the following:
[code]

only axe presently flags that this is incorrect.  so seems a good idea to get this into the spec to get other checkers to correctly flag this error.

[2022-01-17 18:23] patrickhlauke commented on #395
the second part of that warning won't make much sense for `<input type="image"> though as changing it to `type="button"` makes it not be an image input anymore?

[2022-01-17 18:27] scottaohara commented on #395
yeh.  someone would have to do `<button type=button><img ...></button>`

[2022-01-18 13:29] #199 closed, assigned to nobody

[2022-01-19 12:04] scottaohara commented on #258
a recent issue has popped up with the html validator where what should have been allowed is being flagged: https://github.com/validator/validator/issues/1304

adding that here in lieu of the above discussion.  need to take a new look at what's been done for resolving this issue, and re-review what was updated in the spec.  we want to make sure that we aren't making anything invalid that isn't caus

[2022-01-20 00:54] carmacleod opened #398 "Consider allowing role toolbar on section element"
Consider allowing `<section role="toolbar">`.
https://w3c.github.io/html-aria/#el-section

Tried this quickly with JAWS/NVDA in Chrome, and it works ok.
Didn't try anywhere else (I was just hacking around in DevTools).

Can't really think of a semantic reason why "toolbar" would be a bad choice for a `<section>`?

[2022-02-02 13:15] scottaohara opened #400 "Consider adding menubar and toolbar to fieldset"
Semantically being groupings of related controls, it makes sense that a `fieldset` would allow for these roles that have a similar purpose.

Additionally, at least with some quick testing, a `legend` within a `fieldset` with one of these roles would allow a naming mechanism without use of `aria-label` or `aria-labelledby`.   Would want to test this more, but would expect similar results to #350

[2022-02-04 17:32] domenic commented on #371
It would be great if we had a PR ready for this on html-aria (and html-aaam) before we landed https://github.com/whatwg/html/pull/7320. Let me know if I can help!

[2022-02-04 20:37] scottaohara commented on #371
@domenic PR is made.  I can merge this whenever the time is right.

[2022-02-08 13:50] WW3 commented on #200
Different roles to distinguish between ordered and unordered lists?

[2022-02-08 14:07] scottaohara commented on #200
@WW3 that wouldn't be defined here.  See https://github.com/w3c/aria/issues/961 instead

[2022-02-13 00:29] #375 closed, assigned to nobody

[2022-03-03 14:20] scottaohara commented on #362
another example we talked about today would be ensuring this section covered the following:

[code]

[2022-03-03 14:49] scottaohara commented on #221
@patrickhlauke assigning to you for additional thoughts on what could be done here.

[2022-03-03 14:55] scottaohara commented on #359
likely related to work that will be done with https://github.com/w3c/html-aria/issues/358

[2022-03-03 15:03] scottaohara commented on #374
likely straight forward adding of a mention to the `div` allowances column stating that if a direct child of a `dl` then no allowed roles other than none/presentation.

[2022-03-04 00:38] #398 closed

[2022-03-06 17:08] #344 closed, assigned to scottaohara

[2022-03-12 17:38] #200 closed, assigned to nobody

[2022-03-12 20:05] scottaohara opened #406 "Further implicit role updates needed"
This is a follow-on issue to #392.

The following map to `generic`
- [x] a w/out href
- [x] area w/out href
- [x] b
- [x] data
- [x] i
- [x] pre
- [x] q
- [x] samp
- [x] small
- [x] span
- [x] u

Repurposing this issue to be scoped only to the roles which need to map to generic.  All other roles will be handled in their own issue(s) as some mappings require implementation updates before they can l

[2022-03-14 13:38] JAWS-test commented on #406
I think most of the elements mentioned should not map to generic, because generic means in the APIs: ROLE_SYSTEM_GROUPING, IA2_ROLE_SECTION, Group, ROLE_SECTION, AXGroup - or will that be changed at https://w3c.github.io/core-aam/ in the future?

If I understand correctly, all these roles are about a group, i.e. an independent page section (as in HTML for the elements div, section, article, fields

[2022-03-14 13:46] scottaohara commented on #406
@JAWS-test core aam needs adjusting, I've brought up the same topic with the ARIA wg a few times now, and the consensus is to use `generic` and further specify the differences between when a generic would behave like a `div` vs a `span`, for example.

[2022-03-15 00:01] scottaohara opened #407 "Review ruby elements more closely"
The `rp` element is set to `display:none` by default, so it should follow suit with other elements that also do not render by default / do not allow aria roles/attributes to be specified.

[2022-03-23 22:42] scottaohara opened #408 "Review hidden attribute allowances"
per merge of https://github.com/whatwg/html/issues/6040, need to re-review `hidden` attribute allowances and make updates as appropriate.

[2022-03-25 20:38] scottaohara opened #409 "Clarify allowed attributes for input type=number"
Per https://github.com/w3c/aria/issues/1716, an `input type=number` has an implicit role of `spinbutton`.  Indicating an `input type=number` can use all the allowed `aria-*` attributes for a `spinbutton` will likely create inconsistencies / browser corrections for ARIA attributes conflicting with the implicit properties of the input field.

todo: perform tests and indicate which attributes, if any

[2022-03-26 14:58] scottaohara commented on #409
This issue likely extends beyond just this particular role/input

[2022-03-31 19:12] scottaohara commented on #368
New todo for this issue is to create 3 separate PRs for each of the elements discussed mentioned here.

The major push back to the proposed changes was concerning `presentation` and `none`.  Those are likely to remain in the proposed changes, but a note will be added to indicate the lack of support and that checkers _may_ want to surface that to authors.

more info will be in the resulting PRs

[2022-03-31 23:20] jcsteh commented on #368
Sorry;  I missed this question. In Firefox, the best you could do is `role="group"`. That hides the fact that it's an iframe, but it's still not indistinguishable.

Note that this is what Chromium exposes if you put role="presentation" on an iframe. For implementation reasons, it's very difficult to completely remove the iframe element from the a11y tree, especially for browsers that support site

[2022-04-03 16:35] #147 closed, assigned to scottaohara

[2022-04-03 21:55] scottaohara opened #411 "Updates to aside element"
Follow on from HTML AAM https://github.com/w3c/html-aam/pull/350

Updates will be needed for the `aside` element after the HTML AAM update lands in browsers.

- [ ] Update implicit mapping reference
- [ ] Review and update ARIA role/attribute allowances

[2022-04-13 23:55] scottaohara opened #412 "Correction: allow doc-example role on figure with figcaption"
Per this [dpub-aria issue](https://github.com/w3c/dpub-aria/issues/42#issuecomment-1092558918), we need to account for the fact that `role="doc-example"` is essentially a type of `figure`, and therefore should still be allowed on a `figure` element, even if it were to contain a `figcaption` element.

[2022-04-14 13:51] scottaohara opened #413 "Clarify autonomous custom element"
- [ ] change no corresponding role to generic role
- [ ] clarify that naming prohibited is if the element exposes the generic role, or is provided a role that prohibits naming

[2022-04-16 15:19] scottaohara commented on #374
this was closed by merging of https://github.com/w3c/html-aria/pull/403

[2022-04-16 15:19] #374 closed, assigned to stevefaulkner

[2022-04-16 15:21] #361 closed, assigned to scottaohara

[2022-04-16 15:22] #413 closed, assigned to nobody

[2022-05-05 17:14] jongund opened #416 "Generate a JSON version of the ARIA in HTML requirements"
I have created a script to generate a JSON file of the ARIA in HTML specification requirements for use in an evaluation tool I support.
I think JSON version of the requirements would be useful to others and would like the working group to consider generating a JSON version of the specification requirements in addition to the document version.
This type of resource would make it much easier and for

[2022-05-12 18:23] benbeaudry opened #417 "<input aria-multiline=true> shouldn't be allowed"
This is in direct contradiction with the input element, which by definition is always single line. Nothing specifies in the specs that an author can't set aria-multiline=true on an input element at the moment. Should we add a condition?

[2022-05-12 19:19] scottaohara commented on #417
Transferring this to the ARIA in HTML specification, as that's where this rule (and agreed, it would make sense to add) would need to be defined.

[2022-06-20 20:55] jongund opened #421 "input[type=file] default role be button?"
It seems browsers render a button by default for input[type=file], shouldn't the default role be button?

[2022-06-20 21:28] jongund opened #422 "input[type=password] why is default role not textbox"
Curious why the default role for input[type=password] is "no corresponding  role" and not textbox?

[2022-06-20 22:09] jongund opened #423 "Form element only gets the form role if it has an accessible name, similar to section element"
The current spec says that the `form` element maps by default to the `form` role and the `form` role in the ARIA 1.2 spec says that the `form` role is required to have an accessible name.  I don't think we want accessible names on every `form` element.  Something has to change, seems the easy change is to make the `form` role conditional on the presence of an accessible name, similar to the wordin

[2022-06-21 20:02] scottaohara commented on #423
Aria 1.3 adds more clarity here. And html aam is already updated to indicate that a form landmark needs a name, but unnamed the form role may still be exposed, but not as a landmark

since aria in html doesn’t define what roles each element has, any necessary change wouldn’t start here.

Maybe further clarification is needed in aria.

[2022-07-05 15:11] scottaohara commented on #421
this wasn't always the case.  For instance, IE11 used to render a button with a text field.

Even now, it's not entirely accurate to say this is just a role=button, as while the implementations have become more unified there is generally still a containing element that then houses a button and then a text leaf of the current upload status.

I'm going to close this issue, but create a new one in HT

[2022-07-05 15:11] #421 closed, assigned to nobody

[2022-07-06 11:24] scottaohara commented on #63
resolving this issue needs https://github.com/w3c/html-aam/issues/375 to be completed.
there is no longer the concept of a sectioning root in HTML with the recent update to the outline algorithm in the spec.

[2022-07-06 11:43] scottaohara opened #424 "Consider clarifying / simplifying image rules"
The `img` element is presently represented three times in the element table depending on if it has an `alt` with or without a value, or if the `alt` is missing.

While an `img` requires an `alt` attribute to produce valid HTML, `aria-label` or `aria-labelledby` could be used to name the image instead.  These rules are more about whether the image is named or not, rather than the exact state of the

[2022-07-08 23:25] scottaohara commented on #423
closing this issue as this is not the spec that would need a change.

I have filed an issue in ARIA per the necessary further clarification, as the mappings in HTML AAM and Core AAM are also up to date.

[2022-07-08 23:25] #423 closed, assigned to nobody

[2022-07-08 23:32] scottaohara commented on #422
there is this: https://github.com/w3c/aria/issues/935

it's not _just_ a textbox, as there are other specific mappings to it.  it wouldn't be accurate to say it cleanly maps to role=textbox.

So going to close this as this spec is accurate since there is no corresponding aria role.

[2022-07-08 23:32] #422 closed, assigned to nobody

[2022-07-13 12:41] #382 closed, assigned to nobody

[2022-07-18 16:11] scottaohara commented on #293
Closing this issue in favor of https://github.com/w3c/html-aria/issues/424

[2022-07-18 16:11] #293 closed, assigned to stevefaulkner

[2022-07-19 13:59] scottaohara opened #426 "Update address element"
Per https://github.com/w3c/html-aam/pull/420, `address` element will now map to `role=group`.
Once this update gets made in browsers, ARIA in HTML should update to change the implicit role to `group` and remove the "name prohibited" text, as that will no longer be true.

[2022-07-25 06:27] LJWatson opened #427 "TPAC 2022 status report"
[TPAC 2022 ](https://www.w3.org/2022/09/TPAC/) is hybrid this year. WebApps will meet in Vancouver on [12 and 13 September](https://www.w3.org/calendar/tpac2022/). Please [register](https://www.w3.org/2022/09/TPAC/registration.html) if you plan to attend in person or remotely.

Editors, we need you to do two things before 30 August 2022:

1. If you want agenda time to discuss your spec(s), please

[2022-09-13 00:19] scottaohara commented on #427
1. went to rec and have made a number of updates since then.
2. no.

[2022-09-28 01:42] behnamkhanioffical opened #431 "Behnamkhani"
Software Engineer

[2022-09-28 13:57] scottaohara commented on #431
deleting issue because it's spam.

[2022-09-28 13:57] #431 closed

[2022-10-04 15:11] scottaohara opened #433 "Provide caveats to when role=none may be allowed"
The typical rule for `button` and `input` elements is that `role=none | presentation` is not allowed. This makes sense because the conflict resolution for the role would result in it immediately being ignored due to these elements being focusable.

However, if one were to also specify the `disabled` attribute on these elements, then the element is no longer focusable and so long as there are not a

[2022-11-02 15:10] #355 closed, assigned to nobody

[2022-11-03 15:21] #426 closed, assigned to nobody

[2022-11-03 15:53] scottaohara commented on #406
seems this issue was completed but i failed to close it.  so doing that now.

[2022-11-03 15:53] #406 closed, assigned to nobody

[2022-11-08 09:12] siusin opened #438 "Auto-pub is broken"
There is a bug with ReSpec:
https://github.com/w3c/html-aria/actions/runs/3417604916/jobs/5688930947#step:3:515

Pending on [respec/issues/4291](https://github.com/w3c/respec/issues/4291).